In [1]:
import pandas as pd 
Name = pd.read_csv('Company.csv')

In [3]:
Name

  ticker_symbol company_name
0          AAPL        apple
1          GOOG   Google Inc
2         GOOGL   Google Inc
3          AMZN   Amazon.com
4          TSLA    Tesla Inc
5          MSFT    Microsoft

In [5]:
Name2 = Name.copy()

In [7]:
Name.isnull().sum()

ticker_symbol    0
company_name     0
dtype: int64

In [9]:
Name.duplicated().sum()

0

In [11]:
# the Copny Name Data set is very clean NO Duplicates, No NUll Values

In [19]:
Name.value_counts('ticker_symbol')

ticker_symbol
AAPL     1
AMZN     1
GOOG     1
GOOGL    1
MSFT     1
TSLA     1
Name: count, dtype: int64